## Howdy howdy!

My name is Alexander, a self-taught engineer always looking to sharpen his skills. I am fascinated by the world of open source and looking for opportunities to contribute. You can also find me on [Sourcehut](https://sr.ht/~crow-magnon/)

### Recent Blog Posts
{{range rss "https://alexandersauceda.dev/posts/index.xml" 5}}
 - [{{.Title}}]({{.URL}}) ({{humanize .PublishedAt}})
{{end}}

### Currently Learning
- Networking
- Go
- Kubernetes

### Recent Contributions
{{range recentContributions 10}}
- [{{.Repo.Name}}]({{.Repo.URL}}){{with .Repo.Description}} - {{.}}{{end}} ({{humanize .OccurredAt}})
{{end}}
